.login-card {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    width: 60%;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid #ff0055;
}

.login-card h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.login-card form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.login-card input {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    /* padding: 0.15rem 0.25rem; */
    margin: 0.25rem;
}

.login-card label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login-button {
    width: 60px;
    margin: 0.5rem;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055ba;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.login-button:hover {
    background: rgb(216, 22, 22);
    border-color: #ff4382;
}